*{
	margin: 0;
	padding: 0;
	font-family: consolas;
	box-sizing: border-box;
}
section{
	padding: 100px;
	background: #000;
}
h2{
	margin-bottom: 10px;
	font-size: 3.5em;
	color: #fff;
}
p{
	
	font-size: 1.6em;
	color: #fff;

}
::-webkit-scrallbar{
	width: 0;
}



#progressbar{
position: fixed;
top: 0;
right: 0;
width: 10px;
border-radius: 10px;
background: linear-gradient(to top,#009FFF,#ec2F4B,#F27121);
}